{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/manage-table.css">
{{/contentFor}}

<main class="main">

  <h1>Categories</h1>
  <a class="main-addBtn" href="/categories/add">Add category +</a>

  <div class="main-list">
    {{#each categories}}
      <h4 class="main-list-item">{{category_name}}</h4>

      {{!-- Podés descomentar esto si querés mostrar la imagen --}}
      {{!-- <img src="{{category_image}}" alt="{{category_name}} image"> --}}

      <div class="main-list-btns main-list-item">
        <a href="/categories/edit/{{categories_id}}"><img src="/assets/pen.png" alt="edit icon"></a>
        <button onclick="deleteCategory('{{categories_id}}')">
          <img src="/assets/bin.png" alt="delete icon">
        </button>
      </div>
    {{/each}}
  </div>
</main>

<script>
  async function deleteCategory(id) {
    const confirmDelete = confirm("Are you sure you want to delete this category?");
    if (confirmDelete) {
      const res = await fetch(`/categories/${id}`, { method: 'DELETE' });
      if (res.ok) {
        location.reload(); // Reload the page to reflect the changes
      } else {
        alert("There was an error deleting the category.");
      }
    }
  }
</script>
