{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/manage-form.css">
{{/contentFor}}

<main class="main">
<h1 class="main-title">Editing "<span>{{product.productName}}</span>"</h1>
<form class="main-form" id="editForm">
    <input type="hidden" autocomplete="off" name="id" value="{{product._id}}">
    <label for="name">Name</label>
    <input type="text" id="name" name="productName" autocomplete="off" value="{{product.productName}}" placeholder="Product name">
    <label for="category">Category</label>
    <select id="category" name="category">
        <option value="pizza" {{#if (eq product.category "pizza")}}selected{{/if}}>Pizzas</option>
        <option value="burger" {{#if (eq product.category "burger")}}selected{{/if}}>Burgers</option>
        <option value="drink" {{#if (eq product.category "drink")}}selected{{/if}}>Drinks</option>
        <option value="dessert" {{#if (eq product.category "dessert")}}selected{{/if}}>Desserts</option>
    </select>
    <label for="price">Price</label>
    <input id="price" type="number" name="price" value="{{product.price}}" autocomplete="off" placeholder="Price" step="0.01" required>
    <label for="image">Image</label>
    <input type="text" name="image" value="{{product.image}}" autocomplete="off" placeholder="Image URL">
    <button type="submit">Save changes</button>
</form>
</main>

<script>
  document.getElementById('editForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const formData = new FormData(e.target);
    const id = formData.get('id');
    
    const data = {
      productName: formData.get('productName'),
      category: formData.get('category'),
      price: parseFloat(formData.get('price')),
      image: formData.get('image')
    };

    const res = await fetch(`/menu/${id}`, {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    });

    if (res.ok) {
      alert('Product successfully updated');
      window.location.href = '/menu'; // Redirects back to the menu
    } else {
      alert('Error updating the product');
    }
  });
</script>
