{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/menu.css">
{{/contentFor}}


<main class="menuMainContainer">

<h1>Menu</h1>
<a class="menuMainContainer-addBtn" href="/menu/menu-add">Add Food +</a>

<div class="menuMainContainer-menu">
    {{#each products}}
            <h4 class="menuMainContainer-menu-celd">{{productName}}</h4>
            {{!--<p>{{category}}</p>--}}
            <p class="menuMainContainer-menu-celd">${{price}}</p>
            {{!--<img src="{{image}}" alt="">--}}
            
            <div class="menuMainContainer-menu-btns menuMainContainer-menu-celd">
              <a href="/menu/edit/{{_id}}"><img src="/assets/pen.png" alt="edit icon"></a>
              <button onclick="deleteProduct('{{_id}}')">
                <img src="/assets/bin.png" alt="delete icon">
              </button>
            </div>
    {{/each}}
</div>
</main>

<script>
  async function deleteProduct(id) {
    const confirmDelete = confirm("Are you sure you want to delete this product?");
    if (confirmDelete) {
      const res = await fetch(`/menu/${id}`, { method: 'DELETE' });
      if (res.ok) {
        location.reload(); // Reload the page to reflect changes
      } else {
        alert("There was an error deleting the product.");
      }
    }
  }
</script>
