{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/menu.css">
{{/contentFor}}


<main class="menuMainContainer">

<h1>Carta Menú</h1>
<a href="/menu/menu-add">Agregar comida</a>

<div class="menuMainContainer-menu">
    {{#each productos}}
            <h4 class="menuMainContainer-menu-celd">{{nombreProducto}}</h4>
            {{!--<p>{{categoria}}</p>--}}
            <p class="menuMainContainer-menu-celd">${{precio}}</p>
            {{!--<img src="{{imagen}}" alt="">--}}
            
            <div class="menuMainContainer-menu-btns menuMainContainer-menu-celd">
              <button onclick="eliminarProducto('{{_id}}')">
                <img src="assets/bin.png" alt="delete icon">
              </button>
              <a href="/menu/edit/{{_id}}"><img src="assets/pen.png" alt="edit icon"></a>
            </div>
    {{/each}}
</div>
</main>

<script>
  async function eliminarProducto(id) {
    const confirmar = confirm("¿Seguro que quieres eliminar este producto?");
    if (confirmar) {
      const res = await fetch(`/menu/${id}`, { method: 'DELETE' });
      if (res.ok) {
        location.reload(); // Recargar la página para ver los cambios
      } else {
        alert("Hubo un error al eliminar el producto.");
      }
    }
  }
</script>