{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/menu-edit.css">
{{/contentFor}}

<main class="menuEditMain">
<h1 class="menuEditMain-tittle">Editando "<span>{{producto.nombreProducto}}</span>"</h1>
<form class="menuEditMain-form" id="editForm">
    <input type="hidden" autocomplete="off" name="id" value="{{producto._id}}">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombreProducto" autocomplete="off" value="{{producto.nombreProducto}}" placeholder="Nombre del producto">
    <label for="categoria">Categoría</label>
    <select id="categoria" name="categoria">
        <option value="pizza" {{#if (eq producto.categoria "pizza")}}selected{{/if}}>Pizzas</option>
        <option value="hamburguesa" {{#if (eq producto.categoria "hamburguesa")}}selected{{/if}}>Hamburguesas</option>
        <option value="bebida" {{#if (eq producto.categoria "bebida")}}selected{{/if}}>Bebidas</option>
        <option value="postre" {{#if (eq producto.categoria "postre")}}selected{{/if}}>Postres</option>
    </select>
    <label for="precio">Precio</label>
    <input id="precio" type="number" name="precio" value="{{producto.precio}}" autocomplete="off" placeholder="Precio" step="0.01" required>
    <label for="imagen">Imagen</label>
    <input type="text" name="imagen" value="{{producto.imagen}}" autocomplete="off" placeholder="URL imagen">
    <button type="submit">Guardar cambios</button>
</form>
</main>

<script>
  document.getElementById('editForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const formData = new FormData(e.target);
    const id = formData.get('id');
    
    const data = {
      nombreProducto: formData.get('nombreProducto'),
      categoria: formData.get('categoria'),
      precio: parseFloat(formData.get('precio')),
      imagen: formData.get('imagen')
    };

    const res = await fetch(`/menu/${id}`, {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    });

    if (res.ok) {
      alert('Producto actualizado correctamente');
      window.location.href = '/menu'; // Redirige de vuelta al menú
    } else {
      alert('Error al actualizar el producto');
    }
  });
</script>
