{{#contentFor "styles"}}
  <link rel="stylesheet" href="/css/manage-form.css">
{{/contentFor}}

<main class="main">
  <h1 class="main-title">Editing "<span>{{product.product_name}}</span>"</h1>
  <form class="main-form" id="editForm">
    <input type="hidden" name="product_id" value="{{product.product_id}}" autocomplete="off" />

    <label for="product_name">Name</label>
    <input
      type="text"
      id="product_name"
      name="product_name"
      value="{{product.product_name}}"
      placeholder="Product name"
      autocomplete="off"
    />

    <label for="product_description">Description</label>
      <textarea
        id="product_description"
        name="product_description"
        placeholder="Product description"
        autocomplete="off"
      >{{product.product_description}}</textarea>

    <label for="category_id">Category</label>
    <select id="category_id" name="category_id">
      {{#each categories}}
        <option value="{{categories_id}}" {{#if (eq this.categories_id ../product.category_id)}}selected{{/if}}>
          {{category_name}}
        </option>
      {{/each}}
    </select>


    <label for="product_price">Price</label>
    <input
      id="product_price"
      type="number"
      name="product_price"
      value="{{product.product_price}}"
      autocomplete="off"
      placeholder="Price"
      step="0.01"
      required
    />

    <label for="product_image">Image</label>
    <input
      type="text"
      name="product_image"
      value="{{product.product_image}}"
      autocomplete="off"
      placeholder="Image URL"
    />

    <button type="submit">Save changes</button>
  </form>
</main>

<script>
  document.getElementById('editForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const id = formData.get('product_id');

    const data = {
      product_name: formData.get('product_name'),
      category_id: formData.get('category_id'),
      product_price: parseFloat(formData.get('product_price')),
      product_image: formData.get('product_image')
    };

    const res = await fetch(`/menu/${id}`, {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    });

    if (res.ok) {
      window.location.href = '/menu';
    } else {
      alert('Error updating the product');
    }
  });
</script>
