{{#contentFor 'styles'}}
  <link rel='stylesheet' href='/css/manage-form.css' />
{{/contentFor}}

<main class='main'>
  <h1 class='main-title'>Editing "<span>{{customer.name}} {{customer.lastname}}</span>"</h1>
  <form class='main-form' id='editForm'>
    <input
      type='hidden'
      autocomplete='off'
      name='id'
      value='{{customer.customer_id}}'
    />
    
    <label for='name'>Name</label>
    <input
      type='text'
      id='name'
      name='name'
      autocomplete='off'
      value='{{customer.name}}'
      placeholder='Name'
    />
    
    <label for='lastname'>Last Name</label>
    <input
      type='text'
      id='lastname'
      name='lastname'
      autocomplete='off'
      value='{{customer.lastname}}'
      placeholder='Last Name'
    />
    
    <label for='email'>Email</label>
    <input
      type='email'
      id='email'
      name='email'
      autocomplete='off'
      value='{{customer.email}}'
      placeholder='Email Address'
    />
    
    <label for='password'>Password</label>
    <input
      type='password'
      id='password'
      name='password'
      autocomplete='off'
      value='{{customer.password}}'
      placeholder='Password'
    />
    
    <label for='phone_number'>Phone Number</label>
    <input
      type='text'
      id='phone_number'
      name='phone_number'
      autocomplete='off'
      value='{{customer.phone_number}}'
      placeholder='Phone Number'
    />
    
    <button type='submit'>Save Changes</button>
  </form>
</main>

<script>
  document.getElementById('editForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const formData = new FormData(e.target);
    const id = formData.get('id');
    
    const data = {
      name: formData.get('name'),
      lastname: formData.get('lastname'),
      email: formData.get('email'),
      password: formData.get('password'),
      phone_number: formData.get('phone_number') || null
    };
    
    await fetch(`/customers/${id}`, {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    });
    
    window.location.href = '/customers';
  });
</script>